* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Segoe UI", "Arial", sans-serif;
}

html,
body {
  background: #1a1a1a;
  color: #fff;
  min-height: 100%;
  height: 100%;
  overflow: hidden;
}

#app {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.json-editor {
  border: 1px solid #424242;
  width: 100%;
  display: grid;
  grid-template-rows: 65px 1fr;
}

.json-editor-header {
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #292929;
  border-bottom: 1px solid #424242;
}

.json-editor-header h1 {
  font-size: 1.35rem;
}

.json-editor-body,
.json-editor-body textarea {
  width: 100%;
  height: 100%;
}

.json-editor-body textarea {
  padding: 0.75rem;
  border: none;
  background: #1e1e1e;
  color: #fff;
  resize: none;
  font-size: 0.875rem;
}

.json-viewer {
  user-select: none;
}

.btn {
  padding: 0.5rem 0.75rem;
  border-radius: 0.35rem;
  border: none;
  cursor: pointer;
}

.node {
  fill: #161616;
  stroke-width: 1;
  stroke: #646cff;
  cursor: pointer;
  transition: border-color 0.25s, opacity 0.25s;
}

.node-content {
  /* padding: 0.75rem; */
  font-size: 0.75rem;
}

.node-content-wrapper {
  padding: 0.75rem;
  width: max-content;
  transition: opacity 0.25s;
}

.node-content span {
  height: 18px;
  display: block;
  font-size: 0.75rem;
  overflow: hidden;
  white-space: nowrap;
}

.line {
  stroke: #ccc;
  cursor: pointer;
  fill: none;
}

.arrow-head {
  fill: #ccc;
}

.line.highlight {
  stroke: #646cff;
}

.line.highlight .arrow-head {
  fill: #646cff;
}

.line.unactive,
.line.unactive .arrow-head {
  opacity: 0.53;
}

.node.unactive,
.node.unactive + .node-content .node-content-wrapper {
  opacity: 0.3;
}
